@model List<Category>
@{
    ViewData["Title"] = "Category List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<thead>
    <div class="d-flex">
        <div class="p-2 w-100"><b>@ViewData["Title"]</b></div>
        <div class="p-2 flex-shrink-1">
            <a asp-action="Creat" asp-controller="Category" class="btn btn-primary btn-sm text-end">Creat</a>
        </div>
    </div>
</thead>

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-3">
            <div class="card p-4 mb-5 me-1" style="background-color :#9DC08B">
                <h4 class="text-center">
                    <a asp-action="GetProducts" asp-controller="Category" asp-route-id="@category.Id" class="nav-link text-dark">@category.CategoryName ID:@category.Id</a>
                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@category.Id" class="btn btn-danger btn-sm">Silme</a>
                    <a asp-action="Update" asp-controller="Category" asp-route-id="@category.Id" class="btn btn-warning btn-sm">Güncelleme</a>
                </h4>
            </div>
        </div>
    }
</div>